<html>
    <head>
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">This blog from the Django Girls tutorial</a></h1>
        </div>

        <div>
            <p>Hi there!</p>
            <h2><a href="">First post</a></h2>
            <p>Text text text some text.</p>
            <p>Text text text some text.</p>
        </div>

        <div>
            <h2><a href="">Second post</a></h2>
            <p>Text text text some text.</p>
            <p>Text text text some text.</p>
        </div>
    </body>
</html>




    </body>


</html>
